<launch>

    <node pkg="main" type="pub_cotton.py" name="pub_cotton" output="screen" />

    <node pkg="main" type="pub_syringe.py" name="pub_syringe" output="screen" />

    <node pkg="main" type="capture.py" name="capture" output="screen" />

    <node pkg="main" type="yolo.py" name="yolo" output="screen" />

</launch>